#App Configuration
# gin mode : debug, release, test
GIN_MODE=insert your gin mode here
GIN_PORT=insert your gin port here

#Database Configuration
DB_HOST=insert your database host here
DB_PORT=insert your database port here
DB_NAME=insert your database name here
DB_USERNAME=insert your database username here
DB_PASSWORD=insert your database password here
DB_TZ=Asia/Jakarta
# database log levels: info, warn, error
DB_LOG_LEVEL=insert your database log level here
DB_MIGRATE=set to true if you want to migrate the database

#Password Configuration
SALT_PASSWORD=insert your salt password here in integer minimum 4 maximum 16

#JWT Configuration
SECRET_KEY=insert your secret key here
EXPIRED_TIME=insert your expired time here in hours example 1 for 1 hour
